* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}
body {
  box-sizing: border-box;
  padding: 0;
  height: auto;
  width: 100%;
}
.collapse h1 {
  font-family: "Playfair Display", serif;
}

.display-2 {
  font-family: "Lobster", cursive;
  font-family: "Nanum Myeongjo", serif;
}

.main-btn {
  color: #110609;
  border: 2px solid #03050a;
  transition: all 1s ease-in-out;
}

.main-btn:hover {
  color: rgb(222, 10, 250);
  border: 2px solid;
  background: rgb(1, 13, 15);
}
#contact {
  background-image: url("../images/bg_4.jpg");
  color: white;
  /* width: 100px; */
  margin: 0 auto;
  justify-content: center;
  opacity: 0.7;
  height: 500px;
  margin-top: 20px;
}
.cont {
  margin: 0 auto;
}
.carousel-caption {
  position: absolute;
}
#feedback p {
  text-align: center;
}
.container-fluid {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 500px;
  margin-top: 20px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 500px;
}
.card-body {
  color: black;
}
#about,
#vision,
#mission {
  text-align: center;
  padding: 20px 60px 0px 60px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
}
.mission {
  text-align: center;
  list-style: inside;
}
.btn {
  color: gold;
  background-color: #121e37;
}

/*Dark Mode*/

.switch {
  align-self: flex-end;
  margin: 0.9375rem;
}
.inner-switch {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 1.25rem;
  width: 3.125rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.1875rem;
  margin-left: 0.3125rem;
}

.dark-mode {
  background-color: black;
  color: white;
}

.day-mode {
  background-color: white;
  color: black;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  text-shadow: 1px 1px 10px black;
}
.carousel-caption h3 {
  text-shadow: 1px 1px 10px black;
}

.card-title {
  font-family: "Lora", serif;
  text-transform: uppercase;
}

.card-text {
  font-family: "Montserrat", sans-serif;
}

.property-header {
  font-family: "Lora", serif;
  text-transform: uppercase;
}
li {
  list-style: left;
  float: left;
}
#about {
  font-family: "Quicksand", sans-serif;
}
#vision {
  font-family: "Quicksand", sans-serif;
}
#mission {
  font-family: "Quicksand", sans-serif;
}
