* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}
body {
  box-sizing: border-box;
  padding: 0;
  height: auto;
  margin:0 auto; 
}
.main-btn {
  color: #110609;
  border: 2px solid #03050a;
  transition: all 1s ease-in-out;
}

.main-btn:hover {
  color: darkgreen;
  border: 2px solid;
  background: paleturquoise;
}
#contact {
  background-image: url("../images/bg_4.jpg");
  color: white;
  width: 400px;
  justify-content: center;
  opacity: 0.7;
  margin-top:40px;
  margin:0 auto;
  height: 500px;
  margin-top:20px;
}
#feedback p{
  text-align: center;
}
.container-fluid {
  margin: 0 auto;
  padding:0;
  text-align: center;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
  margin-top:20px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}


.card-body{
  color: black;
}
#about{
  text-align: center;
  padding:20px;
}
.vision{
  text-align: center;
}
 .mission {
  text-align: center;
    list-style: inside; 

}

/*Dark Mode*/


.switch {
  align-self: flex-end;
  margin: 0.9375rem;
}
.inner-switch {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 1.25rem;
  width: 3.125rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.1875rem;
  margin-left: 0.3125rem;
}

.dark-mode {
  background-color: black;
  color: white;
}

.day-mode {
  background-color: white;
  color: black;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}